In [3]:
import pandas as pd
import os

In [11]:
# Read in data
data = pd.read_csv('monster_com-job_sample.csv')
data.columns

data.job_type.unique

<bound method Series.unique of 0                          Full Time Employee
1                                   Full Time
2                         Full Time, Employee
3                                   Full Time
4                          Full Time Employee
5                          Full Time Employee
6                         Full Time, Employee
7                          Full Time Employee
8                          Part Time Employee
9                                         NaN
10                                  Full Time
11                         Full Time Employee
12                                  Full Time
13                                  Full Time
14                         Full Time Employee
15                         Full Time Employee
16                                        NaN
17                        Full Time, Employee
18                                  Full Time
19                                  Full Time
20                        Full Time, Employee
21       Full Time Temporary/Contract/Project
22                                        NaN
23                                  Full Time
24                                  Full Time
25                                  Full Time
26                                        NaN
27                         Full Time Employee
28                         Full Time Employee
29                         Full Time Employee
                         ...
21970                               Full Time
21971                               Full Time
21972                      Full Time Employee
21973                      Full Time Employee
21974    Full Time Temporary/Contract/Project
21975                     Full Time, Employee
21976                               Full Time
21977                      Full Time Employee
21978                               Part Time
21979                               Full Time
21980                               Full Time
21981                               Full Time
21982                      Full Time Employee
21983                      Full Time Employee
21984                               Part Time
21985                               Full Time
21986                               Full Time
21987                               Full Time
21988                               Full Time
21989    Full Time Temporary/Contract/Project
21990                      Full Time Employee
21991                      Full Time Employee
21992                      Full Time Employee
21993    Full Time Temporary/Contract/Project
21994                               Part Time
21995                               Full Time
21996                               Full Time
21997                               Full Time
21998                      Full Time Employee
21999                               Full Time
Name: job_type, Length: 22000, dtype: object>